<!-- Navbar -->
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">SAVE the Date!</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/signin">Sign In</a></li>
        {{!-- <li><a href="#">Messages</a></li> --}}
        <li><a href="/signup">Sign Up</a></li>
      </ul>
    </div>
  </div>
</nav>

<!-- First Container -->
<div class="container-fluid bg-2 text-center">
  <h2 class="margin">Automated Help for REAL LIFE OCCASIONS</h2>
  <img src="https://s3-media4.fl.yelpcdn.com/bphoto/dpw2ucscByT8B8r65M3kmw/o.jpg" class="img-responsive img-circle margin" style="display:inline" alt="Bird" width="350" height="350">
  <h2>Having an amazing time, did you forget something?</h2>
</div>

<!-- Second Container -->
<div class="container-fluid bg-2 text-center">
  <h3 class="margin">What can we offer?</h3>
  <p>There will be many times in life, we need help remembering the next thing that we are responsible for. Was it checking in, was it picking up the kids, or an Amazon package, or just a graceful exit from a meeting that is running too long, or a date that has gone from interesting to odd to uncomfortable?  That's where we can "SAVE the Date!"</p>
  <a href="/signup" class="btn btn-default btn-lg">
    <span class="glyphicon glyphicon-search"></span> Sign Up
  </a>
</div>

<!-- Third Container (Grid) -->
<div class="container-fluid bg-3 text-center">    
  <h3 class="margin">How Does It Work?</h3><br>
  <div class="row">
    <div class="col-sm-4">
      <p>After a quick sign up process that requires your name, email and phone number to be verified, you are already!</p>
      <img src="/images/Prom-2018.JPG" class="img-responsive margin" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-4"> 
      <p>Using the calendar interface, create the instance of when you would like a gentle push to remember.  Alarms are intrusive, can't be read, create disrespect or can be offensive.  SAVE the Date is graceful.
      <img src="/images/Watertown-Sunset.JPG" class="img-responsive margin" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-4"> 
      <p>How you use this power is up to you. Will this keep you intune with remembering to breath, meditate, take medication, smile, call your loved ones, or a graceful exit from a date saying your apartment alarm is going off, or a way to clearly state that your next appointment is demanding that the rest of the meeting is pushed to the next date? We're not here to judge, we want to SAVE the Date.</p>
      <img src="/images/The-Good-Mug-2.jpg" class="img-responsive margin" style="width:100%" alt="Image">
    </div>
  </div>
</div>