<div id="home">

    <nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>                        
        </button>
        <a class="navbar-brand" href="#">SAVE the Date!</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/user">Your Profile</a></li>
            {{!-- <li><a href="#">Messages</a></li> --}}
            <li><a href="/logout">Sign Out</a></li>
        </ul>
        </div>
    </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-8 offset-2">
            
                <h1>{{msg}}</h1>
                <h2>Your Messages!</h2>
                <form>
                    <input id="sendTime" name="sendTime">

                    <div class="form-group">
                        <label for="message">Message to be sent</label>
                        <textarea class="form-control" id="startMessage" rows="3"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary" id="startSubmit">Submit</button>
                </form>
                <br>
            <div class="container-fluid-2 bg-1">
                <h3 id="messages-heading">Your Current Messages:</h3>
                <ul id="message-list" class="list-group">
                    {{#each messages}}
                    <li data-id="{{this.id}}" class="list-group-item">
                        <button class="btn btn-danger float-right delete">ｘ</button>
                    </li>
                    {{/each}}
                </ul>
                </div>
            </div>
            <div class="modal" id="updateDiv">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2 class="modal-title"><i class="fas fa-exclamation"></i>Edit your Message!</h2>
                            <div id="modal-close" class="btn btn-danger">X</div>
                        </div>
                        <!--End modal header-->
                        <div class="modal-body">
                            <input type="text" id="update-input"></input>
                            <button type="submit" id="update-submit" class="btn btn-primary">Save</button>
                        </div>
                        <!--End modal body-->
                    </div>
                    <!--End modal content-->
                </div>
                <!--End modal-dialog-->
            </div>
            <!--End modal container div-->
        </div>


    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.11.1/build/alertify.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

<script src="/js/index.js"></script>