* {
  box-sizing: border-box;
}

body {
  width: 50%;
  max-width: 60em;
  margin: 0 auto;
  color: #eeeeff;
  background-color: rgb(24, 50, 100);
}

#wrapper {
  width: 960px;
  margin: 1em, auto;
}

.list-group-item {
  line-height: 2.5;
}

#jumbotron {
  color: black;
  background-color: aqua;
}